/* ÁREA DE CADASTRO */

.cadastro{
    background: #1F1F1F;
    margin: 30px 30px 0px calc(var(--sidebar) + 30px);
    border-radius: 10px;
    padding: 30px 0;
    height: fit-content;

    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cadastro h1{
    text-align: center;
}
.formulario{
    margin: 50px 0 0 0;
    width: 70%;
    height: max-content;
    
    display: flex;
    flex-direction: column;
}
.componente-cadastro{
    display: flex;
    justify-content: space-between;
    margin: 0 0 30px 0;
}
.horario{
    width: 35%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px){
    .cadastro{
        width: 80vw;
    }
    .formulario{
        width: 90%;
    }
    .horario{
        width: 45%;
    }
}
